<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create new task</h4>
            </div>
            <div class="modal-body">
                <p>Fill task information and click submit to add it. You can also add task for specific goal to achive it.</p>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="taskName" class="col-sm-2 control-label">Task name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="taksName" placeholder="Type what would you do in this task" required ng-model="newTask.body">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="date" placeholder="choose the deadline " required ng-model="newTask.date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="time" class="col-sm-2 control-label">Deadline</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control" id="time" placeholder="choose exact time" required ng-model="newTask.time">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="importance" class="col-sm-2 control-label">Importance</label>
                        <div class="col-sm-10">
                            <input type="number" min=1 max=10 class="form-control" id="importance" placeholder="rate how important it is (1-10)" ng-model="newTask.importance">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="goal" class="col-sm-2 control-label">Goal for this task (optional):</label>
                        <div class="col-sm-10">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="goals-dropdown" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    {{selectedGoalTitle}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="goals-dropdown">
                                    <li ng-repeat="goal in goalsForTask" ng-click="selectGoal(goal)">{{goal.body}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Create</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>